{% extends 'home/header.html' %}
{% load staticfiles %}

{% block content %}
    <div class="body-content clearfix" style="height: 100%;" >
      <div class="bg-color2 block-section-lg line-bottom">
        <div class="container">
          <h2 class="text-center">Contact Us</h2>
        <div class="well box-width bg-color3">    
        <p class="text-center color-white">
            Number: (555) 555-5555<br>
            Email us using the comment box below!
            </p>
            </div>
          </div>
          
          <br>

        <form method="post" action=".">{% csrf_token %}       
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                               <div class="form-group">
                                <label for="emailMessage" class="text-center">Comment Box</label>
                                <textarea id="emailMessage" class="form-control" rows="6" placeholder="Enter Any Additional Information" name="emailMessage"></textarea>
                                </div>
                                
                                <br>
                                
                                <div class="form-action">
                                    <a href="#modal" data-toggle="modal"><button class="btn btn-t-primary btn-theme" value="">Send Email</button></a>
                                </div>
                                
                            </div>    
                        </div>
                    </div>                    
                </div>
            </form>
    </div>

 <!-- modal -->
        <div class="modal fade" id="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <form class="form-horizontal">
                <div class="modal-header">
                  <h3 class="text-center">Thank You for Your Email!</h3>
                </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-default btn-theme" data-dismiss="modal">Close</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
{% endblock %}