{% extends 'home/header.html' %}
{% load staticfiles %}

 {% block content %}
        <!-- main-header -->
      <header class="main-header">
          <div class="hero-header">
          <div class="inner-hero-header">
            <div class="container">
              <div class="text-center logo"> <a href="index.html"><img src="{% static 'assets/theme/images/patner/4.png' %}" alt=""></a></div>
              <div class="relative">
                <!-- form search -->
                <form class="form-search-home" method="post" action="job_list.html">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                          <div style = "text-align:center;"><label><h3>Services</h3></label></div>
                          <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-lg btn-block dropdown-toggle">Select All Options Wanted <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <input type="checkbox" id="GD" name="GD" value="1">
                                    <label for="GD">Graphic Designer</label>
                                </li>
                            </ul>
                        </div>  
                      </div>
                    </div>
                  <div class="form-group">
                   <a class="btn btn-t-primary btn-lg btn-theme btn-pill btn-block" href="/job_board/">Find a Service</a>
                  </div>
                    </div>
                </form> <!-- end form search -->
              </div>
            </div>
          </div>
          </div>
   </header><!-- end main-header -->
  <!-- body-content -->
      <div class="body-content clearfix" >

        <!-- box simple static -->
        <div class="block-section bg-color1">
          <div class="container">
            <div class="row text-center">
              <div class="col-md-4">
                <h3 class="font-2x "></h3>
                <h4 class="color-text">Registered Member</h4>
              </div>
              <div class="col-md-4">
                <h3 class="font-2x ">3,603,945</h3>
                <h4 class="color-text"></h4>
              </div>
              <div class="col-md-4">
                <h3 class="font-2x ">53,945</h3>
                <h4 class="color-text">573</h4>
              </div>
            </div>
          </div>
        </div><!-- end box simple static -->

      </div><!--end body-content -->
        
     <!-- main-footer -->
      <footer class="main-footer">


        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-inline link-footer text-center-xs">
                <li><a href="index.html">Home</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-sm-6 ">
              <p class="copyright text-muted">Copyright &copy; {{ request.site.name }} {% now "Y" %}</p>
              <div class="socials text-right text-center-xs">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer><!-- end main-footer -->     
    
    
        
    {% endblock %}    
    