{% extends 'home/header.html' %}
{% load staticfiles %}

 {% block content %}
        <!-- main-header -->
      <header class="main-header">
          <div class="hero-header">
          <div class="inner-hero-header">
              <div class="relative">
                <!-- form search -->
                <form class="form-search-home" method="post" action="job_list.html">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                          <div style = "text-align:center;"><label><h3>Services</h3></label></div>
                              <button data-toggle="dropdown" class="btn btn-t-primary btn-lg btn-block dropdown-toggle">Please select any services</button>
                              <ul class="dropdown-menu pull-center"> 
                                <li>
                                  <input type="checkbox" id="Accounting" name="serviceID" value="1">
                                  <label for="Accounting">Accounting</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Advertising" name="serviceID" value="2">
                                  <label for="Advertising">Advertising</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Art/Photo" name="serviceID" value="3">
                                  <label for="Art/Photo">Art/Photo</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Automotive" name="serviceID" value="4">
                                  <label for="Automotive">Automotive</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Barber/Salon" name="serviceID" value="5">
                                  <label for="Barber/Salon">Barber/Salon</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Body Mods" name="serviceID" value="6">
                                  <label for="Body Mods">Body Mods</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Child Care" name="serviceID" value="7">
                                  <label for="Child Care">Child Care</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Coach/Trainer" name="serviceID" value="8">
                                  <label for="Coach/Trainer">Coach/Trainer</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Computer Services" name="serviceID" value="9">
                                  <label for="Computer Services">Computer Services</label>
                                </li>    
                                <li>
                                  <input type="checkbox" id="Construction" name="serviceID" value="10">
                                  <label for="Construction">Construction</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Cooking Services" name="serviceID" value="11">
                                  <label for="Cooking Services">Cooking Services</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Event Planner" name="serviceID" value="12">
                                  <label for="Event Planner">Event Planner</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Home Care" name="serviceID" value="13">
                                  <label for="Home Care">Home Care</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Medical" name="serviceID" value="14">
                                  <label for="Medical">Medical</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Outdoor Care" name="serviceID" value="15">
                                  <label for="Outdoor Care">Outdoor Care</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Pest Control" name="serviceID" value="16">
                                  <label for="Pest Control">Pest Control</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Registered Dietitian" name="serviceID" value="17">
                                  <label for="Registered Dietitian">Registered Dietitian</label>
                                </li>  
                                <li>
                                  <input type="checkbox" id="Security/Investigation" name="serviceID" value="18">
                                  <label for="Security/Investigation">Security/Investigation</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Tutor/Teacher" name="serviceID" value="19">
                                  <label for="Tutor/Teacher">Tutor/Teacher</label>
                                </li>    
                              </ul>
                      </div>
                    </div>
                  <div class="form-group">
                   <a class="btn btn-t-primary btn-lg btn-theme btn-pill btn-block" href="/job_post">Find a Service</a>
                  </div>
                    </div>
                </form> <!-- end form search -->
              </div>
            </div>
          </div>
          </div>
   </header><!-- end main-header -->
  <!-- body-content -->
      <div class="body-content clearfix" >

        <!-- box simple static -->
        <div class="block-section bg-color1">
          <div class="container">
            <div class="row text-center">
              <div class="col-md-4">
                <h4 class="color-text-2">Registered Members</h4>
                <h4 class="color-text">145</h4>
              </div>
              <div class="col-md-4">
                <h4 class="color-text-2">Services Provided</h4>
                <h4 class="color-text">19</h4>
              </div>
              <div class="col-md-4">
                <h4 class="color-text-2">Top Service</h4>
                <h4 class="color-text">Computer Science</h4>
              </div>
            </div>
          </div>
        </div><!-- end box simple static -->
          
      </div><!--end body-content -->

    {% endblock %}    
    