{% extends 'home/header.html' %}
{% load staticfiles %}

{% block content %}
    <div class="body-content clearfix" >
      <div class="bg-color2 block-section-lg line-bottom">
        <div class="container">
          <h2 class="text-center">Sign Up Form</h2>
            <form method="post" action=".">{% csrf_token %}      
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group has-feedback">
                                    <label for="id_firstname">First Name</label>
                                    <input type="text" class="form-control has-feedback-left" name="firstName" id="id_firstname"  placeholder="">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                                <div class="form-group has-feedback">
                                    <label for="id_lastname">Last Name</label>
                                    <input type="text" class="form-control has-feedback-left" name="lastName" id="id_lastname"  placeholder="">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                                <div class="form-group has-feedback">
                                    <label for="id_username">User Name</label>
                                    <input type="text" class="form-control has-feedback-left" name="id_userName"  placeholder="">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                                <div class="form-group has-feedback">
                                    <label for="zipCode">Zipcode</label>
                                    <input type="number" maxlength="5" class="form-control has-feedback-left" pattern="\d*" id="zipCode" title="only enter five digits" name="zipCode"  placeholder="55555">
                                    <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                                <div class="form-group has-feedback">
                                    <label for="id_email">Email</label>
                                    <input type="email" class="form-control has-feedback-left" name="email"  placeholder="example@email.com">
                                    <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                                <div class="form-group has-feedback">
                                    <label for="id_password1">Password</label>
                                    <input type="password" class="form-control has-feedback-left" name="id_password1"  placeholder="Password">
                                    <span class="fa fa-asterisk form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                                <div class="form-group has-feedback">
                                    <label for="id_password2">Re-Type Password</label>
                                    <input type="password" class="form-control has-feedback-left" name="id_password2"  placeholder="Password">
                                    <span class="fa fa-asterisk form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                          <div style = "text-align:center; margin-bottom: 25px;" >
                              <button data-toggle="dropdown" class="btn btn-t-primary btn-lg btn-block dropdown-toggle form-control dropbox-top">Please select any services you can provide<span style = "margin-left: 15px;" class="caret"></span></button>
                              <ul class="dropdown-menu pull-center"> 
                                <li>
                                  <input type="checkbox" id="01" name="AS" value="1">
                                  <label for="01">Accounting</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="02" name="ADS" value="2">
                                  <label for="02">Advertising</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="03" name="AP" value="3">
                                  <label for="03">Art/Photo</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="04" name="AUS" value="4">
                                  <label for="04">Automotive</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="05" name="BC" value="5">
                                  <label for="05">Barber/Salon</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="06" name="BM" value="6">
                                  <label for="06">Body Mods</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="07" name="CC" value="7">
                                  <label for="07">Child Care</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="08" name="CTS" value="8">
                                  <label for="08">Coach/Trainer</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="09" name="CS" value="9">
                                  <label for="09">Computer Services</label>
                                </li>    
                                <li>
                                  <input type="checkbox" id="10" name="CON" value="10">
                                  <label for="10">Construction</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="11" name="COS" value="11">
                                  <label for="11">Cooking Services</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="12" name="EP" value="12">
                                  <label for="12">Event Planner</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="13" name="HCS" value="13">
                                  <label for="13">Home Care</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="14" name="MS" value="14">
                                  <label for="14">Medical</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="15" name="OS" value="15">
                                  <label for="15">Outdoor Care</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="16" name="PC" value="16">
                                  <label for="16">Pest Control</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="17" name="RD" value="17">
                                  <label for="17">Registered Dietitian</label>
                                </li>  
                                <li>
                                  <input type="checkbox" id="18" name="SI" value="18">
                                  <label for="18">Security/Investigation</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="19" name="TTS" value="19">
                                  <label for="19">Tutor/Teacher</label>
                                </li>    
                              </ul>
                      </div>
                               <div class="form-group">
                                <label for="bio" class="text-center">Bio</label>
                                <textarea id="bio" class="form-control" rows="6" placeholder="Enter Any Additional Information" name="bio"></textarea>
                                </div>
                                
                                <input type="submit" class="btn btn-t-primary btn-theme" style="left: 17%;" value="Register" />
                                <input type="hidden" class="btn btn-t-primary btn-theme" style="left: 17%;" name="next" value="/" />
                                
                            </div>    
                        </div>
                    </div>                    
                </div>
            </form>
    </div>

 <!-- modal -->
        <div class="modal fade" id="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <form class="form-horizontal">
                <div class="modal-header">
                  <h3 class="text-center">Thank You for Register</h3>
                </div>
                  <div class="modal-footer">
                  <a href="/"><button type="button" class="btn btn-sm btn-default btn-theme"> Close</button></a>
                  </div>
                </form>
              </div>
            </div>
        </div>
{% endblock %}
