{% extends 'home/header.html' %}
{% load staticfiles %}

{% block content %}
    <div class="body-content clearfix" >
      <div class="bg-color2 block-section-lg line-bottom">
        <div class="container">
          <h2 class="text-center">Sign Up Form</h2>
            <form method="post" action=".">{% csrf_token %}      
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group has-feedback">
                                    <label for="id_firstname">First Name</label>
                                    <input type="text" class="form-control has-feedback-left" name="firstName" id="id_firstname"  placeholder="">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                                <div class="form-group has-feedback">
                                    <label for="id_lastname">Last Name</label>
                                    <input type="text" class="form-control has-feedback-left" name="lastName" id="id_lastname"  placeholder="">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                                <div class="form-group has-feedback">
                                    <label for="id_username">User Name</label>
                                    <input type="text" class="form-control has-feedback-left" name="id_userName"  placeholder="">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                                <div class="form-group has-feedback">
                                    <label for="zipCode">Zipcode</label>
                                    <input type="number" maxlength="5" class="form-control has-feedback-left" pattern="\d*" id="zipCode" title="only enter five digits" name="zipCode"  placeholder="55555">
                                    <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                                <div class="form-group has-feedback">
                                    <label for="id_email">Email</label>
                                    <input type="email" class="form-control has-feedback-left" name="email"  placeholder="example@email.com">
                                    <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                                <div class="form-group has-feedback">
                                    <label for="id_password1">Password</label>
                                    <input type="password" class="form-control has-feedback-left" name="id_password1"  placeholder="Password">
                                    <span class="fa fa-asterisk form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                                <div class="form-group has-feedback">
                                    <label for="id_password2">Re-Type Password</label>
                                    <input type="password" class="form-control has-feedback-left" name="id_password2"  placeholder="Password">
                                    <span class="fa fa-asterisk form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                          <div style = "text-align:center; margin-bottom: 25px;" >
                              <button data-toggle="dropdown" class="btn btn-t-primary btn-lg btn-block dropdown-toggle form-control dropbox-top">Please select any services you can provide<span style = "margin-left: 15px;" class="caret"></span></button>
                              <ul class="dropdown-menu pull-center"> 
                                <li>
                                  <input type="checkbox" id="Accounting" name="serviceID" value="Accounting">
                                  <label for="Accounting">Accounting</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Advertising" name="serviceID" value="Advertising">
                                  <label for="Advertising">Advertising</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Art/Photo" name="serviceID" value="Art/Photo">
                                  <label for="Art/Photo">Art/Photo</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Automotive" name="serviceID" value="Automotive">
                                  <label for="Automotive">Automotive</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Barber/Salon" name="serviceID" value="Barber/Salon">
                                  <label for="Barber/Salon">Barber/Salon</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Body Mods" name="serviceID" value="Body Mods">
                                  <label for="Body Mods">Body Mods</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Child Care" name="serviceID" value="Child Care">
                                  <label for="Child Care">Child Care</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Coach/Trainer" name="serviceID" value="Coach/Trainer">
                                  <label for="Coach/Trainer">Coach/Trainer</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Computer Services" name="serviceID" value="Computer Services">
                                  <label for="Computer Services">Computer Services</label>
                                </li>    
                                <li>
                                  <input type="checkbox" id="Construction" name="serviceID" value="Construction">
                                  <label for="Construction">Construction</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Cooking Services" name="serviceID" value="Cooking Services">
                                  <label for="Cooking Services">Cooking Services</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Event Planner" name="serviceID" value="Event Planner">
                                  <label for="Event Planner">Event Planner</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Home Care" name="serviceID" value="Home Care">
                                  <label for="Home Care">Home Care</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Medical" name="serviceID" value="Medical">
                                  <label for="Medical">Medical</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Outdoor Care" name="serviceID" value="Outdoor Care">
                                  <label for="Outdoor Care">Outdoor Care</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Pest Control" name="serviceID" value="Pest Control">
                                  <label for="Pest Control">Pest Control</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Registered Dietitian" name="serviceID" value="Registered Dietitian">
                                  <label for="Registered Dietitian">Registered Dietitian</label>
                                </li>  
                                <li>
                                  <input type="checkbox" id="Security/Investigation" name="serviceID" value="Security/Investigation">
                                  <label for="Security/Investigation">Security/Investigation</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Tutor/Teacher" name="serviceID" value="Tutor/Teacher">
                                  <label for="Tutor/Teacher">Tutor/Teacher</label>
                                </li>    
                              </ul>
                      </div>
                      <div style = "text-align:center; margin-bottom: 25px;" >
                              <button data-toggle="dropdown" class="btn btn-t-primary btn-lg btn-block dropdown-toggle form-control dropbox-top">Please select any services you need<span style = "margin-left: 15px;" class="caret"></span></button>
                              <ul class="dropdown-menu pull-center"> 
                                <li>
                                  <input type="checkbox" id="Accounting2" name="needsID" value="Accounting">
                                  <label for="Accounting2">Accounting</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Advertising2" name="needsID" value="Advertising">
                                  <label for="Advertising2">Advertising</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Art/Photo2" name="needsID" value="Art/Photo">
                                  <label for="Art/Photo2">Art/Photo</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Automotive2" name="needsID" value="Automotive">
                                  <label for="Automotive2">Automotive</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Barber/Salon2" name="needsID" value="Barber/Salon">
                                  <label for="Barber/Salon2">Barber/Salon</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Body Mods2" name="needsID" value="Body Mods">
                                  <label for="Body Mods2">Body Mods</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Child Care2" name="needsID" value="Child Care">
                                  <label for="Child Care2">Child Care</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Coach/Trainer2" name="needsID" value="Coach/Trainer">
                                  <label for="Coach/Trainer2">Coach/Trainer</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Computer Services2" name="needsID" value="Computer Services">
                                  <label for="Computer Services2">Computer Services</label>
                                </li>    
                                <li>
                                  <input type="checkbox" id="Construction2" name="needsID" value="Construction">
                                  <label for="Construction2">Construction</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Cooking Services2" name="needsID" value="Cooking Services">
                                  <label for="Cooking Services2">Cooking Services</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Event Planner2" name="needsID" value="Event Planner">
                                  <label for="Event Planner2">Event Planner</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Home Care2" name="needsID" value="Home Care">
                                  <label for="Home Care2">Home Care</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Medical2" name="needsID" value="Medical">
                                  <label for="Medical2">Medical</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Outdoor Care2" name="needsID" value="Outdoor Care">
                                  <label for="Outdoor Care2">Outdoor Care</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Pest Control2" name="needsID" value="Pest Control">
                                  <label for="Pest Control2">Pest Control</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Registered Dietitian2" name="needsID" value="Registered Dietitian">
                                  <label for="Registered Dietitian2">Registered Dietitian</label>
                                </li>  
                                <li>
                                  <input type="checkbox" id="Security/Investigation2" name="needsID" value="Security/Investigation">
                                  <label for="Security/Investigation2">Security/Investigation</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="Tutor/Teacher2" name="needsID" value="Tutor/Teacher">
                                  <label for="Tutor/Teacher2">Tutor/Teacher</label>
                                </li>    
                              </ul>
                      </div>
                               <div class="form-group">
                                <label for="bio" class="text-center">Bio</label>
                                <textarea id="bio" class="form-control" rows="6" placeholder="Enter Any Additional Information" name="bio"></textarea>
                                </div>
                                
                                <input type="submit" class="btn btn-t-primary btn-theme" style="left: 17%;" value="Register" />
                                <input type="hidden" class="btn btn-t-primary btn-theme" style="left: 17%;" name="next" value="/" />
                                
                            </div>    
                        </div>
                    </div>                    
                </div>
            </form>
    </div>

 <!-- modal -->
        <div class="modal fade" id="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <form class="form-horizontal">
                <div class="modal-header">
                  <h3 class="text-center">Thank You for Register</h3>
                </div>
                  <div class="modal-footer">
                  <a href="/"><button type="button" class="btn btn-sm btn-default btn-theme"> Close</button></a>
                  </div>
                </form>
              </div>
            </div>
        </div>
{% endblock %}
