{% extends 'home/header.html' %}
{% block title %}Registration Successful{% endblock %}
{% block head %}
 Registration Completed Successfully
{% endblock %}
{% block content %}
<div class="body-content clearfix" >
      <div class="bg-color2 block-section-lg line-bottom">
        <div class="container">
            <h2 class="text-center">Thank you for registering.</h2>
          </div>
    </div>
</div>

<a href="/login" style = "color: white;"><button class="btn btn-t-primary btn-theme login-box">Login</button></a>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}