{% extends 'home/header.html' %}
{% load staticfiles %}

 {% block content %}
        <div class="bg-color2"> 
        <div class="container">  
                    <h2 class="text-center">Terms of Service</h2>
        <p class="text-center">The user acknowledges any participation in this service constitutes acceptance of this agreement. By using Smarter<br>
        Barter, the user acknowledges that they are of 18 years of age or older. The user acknowledges that they are providing personal information<br>
        to this website including but not limited to: their name, date of birth, gender, general location, and potential skillsets. Smarter Barter<br>
        acknowledges that it has a responsibility to protect this information, and that it will not use this information in any way other than to<br>
        match users, and that it will not provide this information to any outside parties without the permission of the user. The user acknowledges<br>
        that, by using the Smarter Barter service, Smarter Barter is not liable for any physical or psychological harm caused as the result of a meeting<br>
        for the purposes of the exchanging of services. Smarter Barter is not liable for work that either user considers subpar or otherwise unsatisfactory.<br>
        Smarter Barter is not liable for any deception by either party during the course of a transaction. Smarter Barter does not condone the use of this service<br>
        for criminal purposes, including but not limited to: the exchange of illicit goods, prostitution, hired murder, and counterfeiting. Smarter Barter<br>
        reserves the right to terminate the user's account and destroy all information associated with the user's account as a result of a violation of this<br>
        Terms of Service or other sufficiently extenuating circumstances.</p>
        </div>      
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
            
        </div><!--end body-content -->

{% endblock %}