{% extends 'home/header.html' %}
{% load staticfiles %}

 {% block content %}
        <div class="bg-color2"> 
        <div class="container">  
                    <h2 class="text-center">Terms of Service</h2>
        <p class="text-center">The user acknowledges that, by using the Smarter Barter service, Smarter Barter is not liable for any physical or psychological harm<br>
        caused as the result of a meeting for the purposes of the exchanging of services. Smarter Barter is not liable for work that either user<br>
        considers subpar or otherwise unsatisfactory. Smarter Barter does not condone the use of this service for criminal purposes, including but<br>
        not limited to: the exchange of illicit goods, prostitution, hired murder, counterfeiting, or any other illicit service.</p>
        </div>      
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
            
        </div><!--end body-content -->

{% endblock %}