<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smarter Barter</title>
    <meta charset = "utf-8" />
</head>

<body class-"body" style ="background-color:#f6f6f6">
    <div>
        <h1>Smarter Barter</h1>
        <h2>Terms of Service</h2>
        <p>The user acknowledges that, by using the Smarter Barter service, Smarter Barter is not liable for any physical or psychological harm<br>
        caused as the result of a meeting for the purposes of the exchanging of services. Smarter Barter is not liable for work that either user<br>
        considers subpar or otherwise unsatisfactory. Smarter Barter does not condone the use of this service for criminal purposes, including but<br>
        not limited to: the exchange of illicit goods, prostitution, hired murder, counterfeiting, or any other illicit service.</p>
        <li><a href='/'>Home</a></li>
        <li><a href='/login'>Login/Sign Up</a></li>
        <li><a href='/post'>Post Request</a></li>
        <li><a href='/search'>Search</a></li>
        <li><a href='/faq'>FAQ</a></li>
        <li><a href='/tos'>Terms of Service</a></li>
        <li><a href='/contact'>Contact</a></li>
    </div>
</body>

</html>
